.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 227, 235);
  margin-bottom: 20px;
}
.logo {
  margin-left: 10px;
}

.text {
  display: flex;
}
.title {
  color: rgb(82, 55, 112);
}
.second_class {
  font-weight: bold;
  font-style: italic;
}

.nav {
  display: flex;
}
.nav_item {
  margin-right: 20px;
}
